<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사업자 메뉴입니다.</title>
</head>
<body>
=========[ M E N U ]==========
    <div><a th:href="@{/business/menu/profile}">[ 1 ] 사업자(Business) 정보 수정</a></div>
    <div><a th:href="@{/company/menu}">[ 2 ] 내 사업장(Company) 관리</div>
<!--     <div><a th:href="@{/business/menu/profile}">[ 3 ] 상품 예약(Reservation) 조회</div> -->
    <div><a th:href="@{/business/logout}">[ 3 ] 로그 아웃</div>
</body>
</html>