<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company code selected</title>
</head>
<body>
   <ul>
        <li th:each="product : ${product}">
        	<p th:text="${product.productName}"></p>
        	<a th:href="@{|/reservation/proreservation/${product.productCode}|}" th:text="${product.productCode}" id="productCode" name="productCode" required></a>
            <p th:text="${product.productPrice}"></p>
            <p th:text="${product.productDis}"></p>
        	
            <!-- a th:href="@{/stock/calender}" -->
        </li>
    </ul>
   
    
</body>
</html>