<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 사업장 관리 메뉴입니다.</title>
</head>
<body>
=========[ M E N U ]==========
    <div><a th:href="@{/company/list}">[ 1 ] 내 사업장(Company) 전체 보기</a></div>
    <div><a th:href="@{/company/save}">[ 2 ] 새 사업장(Company) 추가 하기</div>
<!--     <div><a th:href="@{/company/}">[ 3 ] 내 사업장(Company) 수정 하기 </div>
    <div><a th:href="@{/company/}">[ 4 ] 내 사업장(Company) 삭제 하기 </div> -->
    <div><a th:href="@{/business/BforPrivate}">[ 3 ] 뒤로 가기 </a></div>
    
</body>
</html>
