<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>company code selected</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>예약 ID</th>
                <th>예약일자</th>
                <th>인원 수</th>
                <th>예약 시간</th>
                <th>상태</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation : ${reservation}">
                <td th:text="${reservation.reservId}"></td>
                <td th:text="${reservation.year} + '년 ' + ${reservation.month} + '월 ' + ${reservation.day} + '일'"></td>
                <td th:text="${reservation.headcount}"></td>
                <td th:text="${reservation.currTimeStamp}"></td>
                <td th:text="${reservation.status}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>