<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>product Info Input</title>
</head>
<body>
	<form  th:action="@{/product/save}" method="post">
        <div>
            <label for="companyCode">company code:</label>
            <input type="text" th:value="${companyCode}" id="companyCode" name="companyCode">
        </div>
        <div>
            <label for="productName">상품명:</label>
            <input type="text" id="productName" name="productName">
        </div>
        <div>
            <label for="productPrice">가격:</label>
            <input type="text" id="productPrice" name="productPrice">
        </div>
        <div>
            <label for="productDis">설명:</label>
            <input type="text" id="productDis" name="productDis">
        </div>
        
        <div>
            <button type="submit">submit</button>
        </div>
            <div th:if="${error}" class="alert alert-danger">
    			<p th:text="${error}"></p>
			</div>   
   	</form>
</body>
</html>