<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
	<form th:action="@{/user/menu/profile}" method="post">
	    <h1>User Profile</h1>
	
	    <div th:if="${user}">
	        <p>ID: <span th:text="${user.userId}">user_id</span></p>
	        <p>Name: <span th:text="${user.userName}">user_name</span></p>
	        <p>Password: <input type="password" th:value="${user.userPwd}" name="userPwd" /></p>
	        <p>Gender: <span th:text="${user.userGender}">user_gender</span></p>
	        <p>Age: <input type="text" th:value="${user.userAge}" name="userAge" /></p>
	        <p>regDate: <span th:text="${user.userRegDate}">user_reg_date</span></p>
	        <!-- 여기에 필요한 다른 유저 정보를 추가합니다. -->
	    </div>

	    <div th:unless="${user}">
	        <p>로그인이 필요합니다.</p>
	    </div>
	    
	    <button type="submit">Update Profile</button>
	    
	    
	    <div th:if="${message}" class="alert alert-success">
    		<p th:text="${message}"></p>
		</div>   
	    <div th:if="${error}" class="alert alert-danger">
    		<p th:text="${error}"></p>
		</div>   
	    
    </form>
</body>
</html>